#ev1 .sessions,
#ev3 .sessions,
#ev2 .sessions
  margin: 0 auto
  font-size: 80%
  max-width: 1140px
  @media (min-width: 767px)
    min-width: 600px
  @media (max-width: 768px)
    margin: auto 10%
    max-width: 100%
  .col .row .col,
  .tracks .col
    margin: 10px
    border: 1px solid
  a
    font-weight: bold
    text-decoration: underline
  .time,
  .events
    margin: 10px
    background: white
    border: 1px solid
  .time
    font-size: 120%
  .events
    display: flex
    align-items: center
    justify-content: center
    font-size: 140%
  .time p
    font-weight: bold
  hr
    margin: 1em auto

#ev1 .sessions
  .sidetalks
    background-color: #FFE8E8
  .ev1tr1
    background-color: #EBD7FF
  .ev1tr2
    background-color: #FFD1A4
  .ev1tr3
    background-color: #DDD

#ev2 .sessions
  .ev2tr1
    background-color: #FFA4A4
  .ev2tr2
    background-color: #CDD6AE
  .ev2tr3
    background-color: #8AD3FF

#ev3 .sessions
  .sidetalks
    background-color: #FFE8E8
  .stem
    background-color: #EBD7FF
  .engaged
    background-color: #FFD1A4
  .retention
    background-color: #DDD




