.tiles
  -webkit-perspective: 1000
  max-width: 50rem
  margin: 0 auto
  a img
    border-top-left-radius: 25px
    border-top-right-radius: 25px
    width: 100%
    display: block
    margin: 0 auto
    transition: var(--imgTrans)
    &:hover
      transform: scale(var(--hovScalar))
