.p-page-item
  margin: auto
  max-width: 800px
  margin-top: 2em
  h2
    text-align: center
  &.blurb
    display: block
  @media (max-width: 768px)
    margin: 10%

#online-handbook ul
  -webkit-padding-start: 40px
  -moz-padding-start: 40px
  -ms-padding-start: 40px
  -o-padding-start: 40px

#discussion-board-tips-item .videos
  max-width: 416px

#ev3 .info
  img
    margin: 0 auto
    max-width: 300px
  table h3
    margin-top: 0

#ev3 .agenda .table td:first-child
  width: 200px
  text-align: center
  @media (max-width: 1000px)
    width: 50px

#ev1 .info,
#ev3 .info
  h3
    margin-top: 0
