// ~ iframe styles ~
// ~~~~~~~~~~~~~~~~~

// training calendar in prodev.sgr
.event-frameframe
  max-width: 800px
  height: 650px
  margin: 0 auto

// Student Planning knowledgebase in stusuc.sgr
.embed-frame
  display: block
  margin: 0 auto

.g-no-margin-top
  margin-top: 0

.g-no-margin-bottom
  margin-bottom: 0

.g-txt-cen
  text-align: center

.col img
  max-width: 100%

table
  border-collapse: collapse

/* ~ Recycle ~ */
/* ~~~~~~~~~~~ */

// .coltext
//   margin-bottom: 1em

// .coltext[data-readmore]
//   padding-left: 2px

// .moreless
//   font-weight: bold

// .video
//   width: 100%
//   & iframe
//     display: block
//     margin: 0 auto

// // Instructional design landing video
// .id-frame
//   max-width: 90%
//   @media (min-width: 1140px)
//     max-width: 50%
