.vex-content h3,
.vex-content h4,
.vex-content h5
  text-align: center
.vex-content h4
  margin-bottom: 0px

.vex-content.content.vex-styling
  font-family: var(--bodyFont)
  width: 70vw
  font-size: 90%
  @media (max-width: 768px)
    width: 80vw
  h1, h2, h3, h4, h5, h6
    line-height: 1.4em
    text-align: center
  &.techtalks
    background-color: #FFE8E8
  &.stem
    background-color: #EBD7FF
  &.engaged
    background-color: #FFD1A4
  &.retention
    background-color: #DDD

.vex-over
  overflow-y: scroll
