@import url(https://fonts.googleapis.com/css?family=Noto+Sans)

// ~ settings and globals ~
@import '_base'

// ~ Bulma nav ~
@import '_nav'

@import '_bulma'
// ~ Index content
@import '_index'

// ~ Grid Styles ~
@import '_grids'

// ~ Page specific ~
@import '_pages'

// ~ Slider stuff ~
@import '_flickity'

// ~ Accordion stuff ~
@import '_accordion'

// ~ Vex stuff ~
@import '_vex'

// ~ Utility classes ~
@import '_utils'

  // ~ Transitions ~
@import '_trans'




